pipeline/Chicago_crime.json
{
	"name": "Chicago_crime",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['id']"
								},
								"sink": {
									"name": "id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['case_number']"
								},
								"sink": {
									"name": "case_number",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['block']"
								},
								"sink": {
									"name": "block",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['iucr']"
								},
								"sink": {
									"name": "iucr",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['primary_type']"
								},
								"sink": {
									"name": "iucr_primary_type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['description']"
								},
								"sink": {
									"name": "iucr_description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['location_description']"
								},
								"sink": {
									"name": "location_description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['arrest']"
								},
								"sink": {
									"name": "arrest",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['domestic']"
								},
								"sink": {
									"name": "domestic",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['beat']"
								},
								"sink": {
									"name": "beat",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['district']"
								},
								"sink": {
									"name": "district",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ward']"
								},
								"sink": {
									"name": "ward",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['community_area']"
								},
								"sink": {
									"name": "community_area",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['year']"
								},
								"sink": {
									"name": "year",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['updated_on']"
								},
								"sink": {
									"name": "updated_on",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['date']"
								},
								"sink": {
									"name": "date_time",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['latitude']"
								},
								"sink": {
									"name": "latitude",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['longitude']"
								},
								"sink": {
									"name": "longitude",
									"type": "String"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "chicagoAPi",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "chicagodatafile",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Bronze to Silver",
				"type": "DatabricksNotebook",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/olugboyoayokunle@gmail.com/Crime-Data-Analysis/Transformation-Script/crimedata to silver"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Silver to Gold",
				"type": "DatabricksNotebook",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Bronze to Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/olugboyoayokunle@gmail.com/Crime-Data-Analysis/Transformation-Script/silver to gold"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get File_name for Gold",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get File_name for Gold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File_name for Gold').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get filename",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DelimitedText2",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Get filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Load into snowflake",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"latestFile": {
				"type": "String"
			},
			"LatestDateTime": {
				"type": "String",
				"defaultValue": "1600-01-01 00:00:00"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-01-26T06:13:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}